@font-face {
  font-family: "Minecraft Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Minecraft Regular"), url("./../fonts/1_MinecraftRegular1.woff") format("woff");
}


@font-face {
  font-family: "Minecraft Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Minecraft Italic"), url("./../fonts/2_MinecraftItalic1.woff") format("woff");
}


@font-face {
  font-family: "Minecraft Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Minecraft Bold"), url("./../fonts/3_MinecraftBold1.woff") format("woff");
}


@font-face {
  font-family: "Minecraft Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Minecraft Bold Italic"), url("./../fonts/4_MinecraftBoldItalic1.woff") format("woff");
}

* {
  font-family: "Minecraft Regular";
  font-weight: 300;
}

b {
  font-family: "Minecraft Bold";
}

.login-page {
  width: 360px;
  padding-top: 25%;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}

.form button:disabled {
  background: #444;
  cursor: not-allowed;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4caf50;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}

.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}

.container .info span a {
  color: #000000;
  text-decoration: none;
}

.container .info span .fa {
  color: #ef3b3a;
}

body {
  background: #76b852;
  background: url("./../assets/background.jpg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
  margin-top: 10px;
  margin-right: 10px;
}

li {
  float: left;
}

li button {
  background-color: #333;
  display: block;
  color: white;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  border: 0;
  font-size: medium;
}

li button:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.user {
  display: flex;
}

.user p {
  display: block;
  color: white;
}

.user img {
  width: 2rem;
  height: 2rem;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  background: #222;
  width: 100%;
}

footer * {
  margin: 10px;
}

.btn {
  background: #30B23C;
  border: 5px #30B23C solid;
  padding: 5px;
  font-size: 15px;
  color: white;
  transition-duration: 0.5s;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
  padding: 5px;
  border: 5px #37a542 solid;
}

.btn:disabled {
  background: #444;
  cursor: not-allowed;
  border: 5px #444 solid;
}

#closebtn {
  float: right;
}